.pagination-box {
  padding: 8px 12px;
  border: 1px solid grey;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  color: grey;
}

.pagination-box:hover {
  border-color: #4c23ff;
  color: #4c23ff;
}

.active-page {
  background-color: #4c23ff;
  color: #fff;
  border-color: #4c23ff;
}

.active-page:hover {
  color: #fff;
}

.pagination-box:disabled:hover {
  border-color: grey;
  color: grey;
  cursor: not-allowed;
}
